.main-footer {
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(182, 175, 175);
    padding-top: 1em;
    position:sticky bottom;
    bottom: 0;
    width: 100%;
    
}
.links{
    text-align: center;
}
.links img{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.row2 {
    display: flex;
}

/* .col1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .col1 img {
    width: 100px;
    height: 100px;
} */

.col1, .col2 {
    flex: 1;
    color: black;
}

.unorder-list {
    list-style: none;
    padding: 0;
}

.row3 {
    text-align: center;
    margin-top: 1em;
    color: black;    
}

.unorder-list li a{
    color: white;
}


